:root {
  --daze-blue: #00B7FF;
  --content-bg: rgb(200, 200, 200);
  --hover-orange: #c45500;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style: none;
}

#root {
  position: relative;
}

.app {
  min-height: 100vh;
  position: relative;
  background-color: var(--content-bg);
}

nav {
  height: 95px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  box-shadow: 0 4px 8px #0006; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: black;
}

.nav-logo {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 2rem;
  padding: 0 20px;
  text-align: center;
}

.nav-logo a,
.nav-links a {
  text-decoration: none;
}

.nav-logo p {
  font-size: 2rem;
  color: white;
}

.nav-links {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4vw;
}

.nav-links li {
  font-weight: 700;
  font-size: 2rem;
  color: var(--daze-blue);
}

.nav-links li:hover {
  text-decoration: underline;
}

nav button {
  width: 120px;
}

.admin-buttons {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  gap: 12px;
  z-index: 20;
}

.admin-buttons button,
.post-admin button {
  border: none;
  background-color: var(--daze-blue);
  color: white;
  padding: 8px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1rem;
}

.post-admin {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}

#danger {
  background-color: rgb(138, 10, 10);
  color: white;
}

#black-btn {
  background-color: #181a1b;
  color: white;
}

nav button,
form button,
.delete-confirmation button {
  border: none;
  background-color: var(--daze-blue);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.5rem;
}

nav button:hover,
form button:hover,
.post-admin button:hover,
.admin-buttons button:hover,
.home-buttons button:hover,
.delete-confirmation button:hover {
  cursor: pointer;
  filter: brightness(120%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

nav button:active,
form button:active,
.post-admin button:active,
.admin-buttons button:active,
.home-buttons button:active,
.delete-confirmation button:active {
  box-shadow: none;
}

.home,
.posts,
.post-page,
.new-post,
.login,
.delete-confirmation {
  padding: 127px 64px 32px;
  background-color: var(--content-bg);
  color: black;
  min-height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  text-align: center;
}

.home h1 {
  font-size: 3rem;
}

.home p {
  font-size: 1.4rem;
}

.home-buttons {
  display: flex;
  gap: 10vw;
}

.home-buttons button {
  border: none;
  background-color: var(--daze-blue);
  width: 250px;
  color: white;
  padding: 60px 0;
  border-radius: 8px;
  font-weight: 700;
  font-size: 2rem;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login h3 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.login button {
  align-self: center;
  margin-top: 20px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.posts a {
  color: black;
  text-decoration: none;
}

.post-sample {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
  padding: 30px;
  color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background-color: var(--daze-blue);
}

.post-sample:hover {
  color: var(--hover-orange);
  filter: brightness(120%);
  cursor: pointer;
}

.post-sample h3 {
  font-size: 2rem;
}

.post-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.post-page h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--daze-blue);
}

.post-date {
  text-align: center;
}

.post-comments {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 20px;
}

.post-comments h2 {
  font-size: 1.5rem;
  color: var(--daze-blue);
  padding-bottom: 12px;
  border-bottom: 1px solid var(--daze-blue);
}

.user-comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  margin-left: 20px;
  border-bottom: 1px solid var(--daze-blue);
  position: relative;
}

.user-comment h3 {
  font-size: 1.2rem;
  color: var(--daze-blue);
}

.comment-date {
  filter: opacity(.8);
  margin-bottom: 10px;
  font-size: .9rem;
}

.new-post {
  border: 1px solid var(--amazon-blue);
  border-radius: 8px;
}

.new-post h3,
.delete-confirmation h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.new-post button,
.delete-confirmation button {
  margin-top: 20px;
  width: 180px;
}

.delete-confirmation {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content-info {
  display: flex;
  align-self: center;
  flex-direction: column;
  padding: 20px;
  gap: 40px;
  text-align: center;
}

.delete-confirmation h1 {
  font-size: 3rem;
  text-align: center;
  color: rgb(138, 10, 10)
}

.delete-confirmation h4 {
  text-decoration: underline;
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.submit-buttons {
  align-self: stretch;
  display: flex;
  justify-content: space-evenly;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--daze-blue);
  margin-bottom: 20px;
}

form input {
  width: 500px;
}

form textarea {
  width: 100%;
}

form label {
  margin-bottom: 8px;
  font-weight: 700;
}

.route-error {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.loader {
  margin-top: 20vh;
  border: 10px solid var(--content-bg);
  border-top: 10px solid var(--daze-blue);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  } 
  100% {
    transform: rotate(360deg);
  }
}